.canvas{
    width: 600px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
    box-sizing: border-box;
}

.bulb-off{
    width: 265px;
    height: 400px;
    background: url('https://github.com/JS-Beginners/lightbulb-effect-project/blob/main/lightoff.png') no-repeat;
    margin: auto;
}

.bulb-on{
    width: 265px;
    height: 400px;
    background: url('https://github.com/JS-Beginners/lightbulb-effect-project/blob/main/lighton.png') no-repeat;;
    margin: auto;
}