*{
    padding: 0;
    margin: 0;
}

#game{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

#character{
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 150px;
}

#block{
    width: 20px;
    height: 20px;
}