img {
  align-self: center;
  width: 150px;
  height: auto;
  margin-top: 10%;
}

body {
  width: 100%;
  height: 100%;
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001f3f;
  }
  100% {
    background-color: #ff4136;
  }
}

html,
body {
  margin-top: -40px;
  height: 90%;
}

.floating-text {
  background-color: #001f61;
  border-radius: 10px 10px 0 0;
  color: #fff;
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.floating-text {
  color: #ff7500;
  text-decoration: none;
}
