textarea {
    width: 500px;
    height: 400px;
}

.click {
    width: 100%;
    height: 200px;
    background: orange;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
}


.floating-text {
  background-color: #d4e2ff;
  border-radius: 10px 10px 0 0;
  color: rgb(0, 0, 0);
  font-family: "Muli";
  padding: 7px 15px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.floating-text a {
  color: #000000;
  text-decoration: none;
}
